@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    background-color: #fcf5eb;
}
.whole{
    margin-top: 3.5rem;
    margin-left: 8rem;
    box-shadow: 6px 6px 5px rgb(212, 193, 177);
}
.left{
    width: 54rem;
    height: 39rem;
    background-color: #2e4d7b;
    z-index: 1;
    display: flex;
}

a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #2e4d7b;
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
}
li{
    color: #fcf5eb;
    font-size: 18px;
    display: inline;
    margin-left: 3rem;
    
}
.header ul{
    list-style-type: none;
    margin-top: 2.5rem;
    background-color: #fdede8;
    margin-left: 8rem;
    padding: .5rem 0.5rem;
    z-index: 2;
    position: absolute;
    border-radius: 18px;
    width: 60rem;
    box-shadow: 4px 4px #a2cee4;
}
.top{
    width: 81rem;
    height: 15rem;
    background-color: #2e4d7b;
    display: flex;
}
.shift{
    margin-top: -2rem;
    margin-right: -1rem;
}
.sidett{
    margin-top: 10rem;
    width: 12rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    margin-left: 1rem;
    font-weight: 200;
}
.vertical{
    transform: rotate(180deg);
    height: 7rem;
    margin-top: 6.5rem;
}
.nst{
    margin-left: 12.5rem;
    margin-top: 6rem;
}
.boldt{
    color: white;
    font-weight: 400;
    font-size: 12px;
    
}
.name{
    color: white;
    font-family: 'Michroma', sans-serif;
    margin-left: 9.5rem;
    font-size: 30px;
    margin-top: -1rem;
    letter-spacing: 4px;
}
.lowertt{
    color: white;
    font-family: 'DM Serif Display', serif;
    margin-left: 14rem;
    margin-top: -0.5rem;
}
.lowerttt{
    color: lightgrey;
    font-family: 'DM Serif Display', serif;
    margin-left: 17.3rem;
    margin-top: -0.5rem;
}
.dance{
    margin-left: 21rem;
    margin-top: 7.15rem;
}
.bottom{
    height: 23rem;
    width: 80rem;
    background-color: #fcf5eb;
    margin-left: 4rem;
    width: 50rem;
}
.circle{
    border-radius: 100%;
    border: 1px solid black;
    color: black;
    padding: 5px;
}
.close{
    margin-left: -2rem;
}
.email{
    display: flex;
    margin-top: 1rem;
    color: #2e4d7b;
    padding-bottom: 5rem;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
.uppertt{
    color: #2e4d7b;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.upperttt{
    margin-top: 1rem;
    color: #2e4d7b;
    font-size: 20px;
    letter-spacing: 5px;
}
.low{
    margin-left: 0.5rem;
    margin-top: 1rem;
}

